@page "/register"
@using ContactsFront.Api
@using ContactsFront.Services
@using ContactsFront.Models
@using System.Text.RegularExpressions
@inject AuthService Auth
@inject CategoryService CategoryService
@inject NavigationManager NavManager

<h3>Register</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

<div class="form-group">
    <label>First Name</label>
    <input class="form-control" @bind="model.FirstName" />
</div>

<div class="form-group">
    <label>Surname</label>
    <input class="form-control" @bind="model.Surname" />
</div>

<div class="form-group">
    <label>Email</label>
    <input class="form-control" type="email" @bind="model.Email" />
</div>

<div>
    <label>Category:</label>
    <InputSelect @bind-Value="model.CategoryId" @onclick="OnCategoryChanged">
        @foreach (var cat in categories) {
            <option value="@cat.Id">@cat.Name</option>
        }
    </InputSelect>

</div>

@if (selectedCategory != null && selectedCategory.HasManySub) {
    <label>Subcategory:</label>
    <InputSelect @bind-Value="selectedSubcategory.Name">
        @foreach (var sub in subcategories) {
            <option value="@sub.Name">@sub.Name</option>
        }
    </InputSelect>
}

@if (selectedCategory != null && selectedCategory.IsCustom) {
    <div>
        <label>Subcategory:</label>
        <InputText @bind-Value="selectedSubcategory.Name" />
    </div>
}
    
<div class="form-group">
    <label>Phone number:</label>
    <input class="form-control" @bind="model.Phone" />
</div>

<div class="form-group">
    <label>Date of birth:</label>
    <InputDate @bind-Value="model.DateOfBirth"/>
</div>

<div class="form-group">
    <label>Password</label>
    <input class="form-control" @bind="model.Password" type="password" />
</div>

<button class="btn btn-primary" @onclick="HandleRegister">Register</button>

@code {
    private RegisterModel model = new();
    private string errorMessage = string.Empty;
    private Category selectedCategory = new();
    private Subcategory selectedSubcategory = new();
    private List<Category> categories = new();
    private List<Subcategory> subcategories = new();

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.GetCategoriesAsync();
        subcategories = await CategoryService.GetAllSubcategories();
    }

    private async Task HandleRegister()
    {
        errorMessage = string.Empty;
        model.SubcategoryName = selectedCategory.Id != 0 ? selectedSubcategory.Name : null;

        if (!IsValidEmail(model.Email))
        {
            errorMessage = "Incorrect format of email address!";
            return;
        }

        if (string.IsNullOrEmpty(model.FirstName) ||
            string.IsNullOrEmpty(model.Surname) ||
            string.IsNullOrEmpty(model.Email) ||
            string.IsNullOrEmpty(model.Password) ||
            model.CategoryId == 0)
            {
            errorMessage = "Firstname, surname, email and password fields are mandatory!";
            return;
        }

        if (model.Password.Length < 8 ||
            !model.Password.Any(char.IsDigit) ||
            !model.Password.Any(ch => !char.IsLetterOrDigit(ch)) ||
            !model.Password.Any(ch => char.IsUpper(ch)))
            {
            errorMessage = "Password must have at least 8 characters, one digit, one upper char and one special symbol.";
            return;
        }

        try
        {
            await Auth.RegisterAsync(model);
            NavManager.NavigateTo("/login");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private bool IsValidEmail(string email)
    {
        string emailPattern = @"^[^@\s]+@[^@\s]+\.[^@\s]+$";
        Regex regex = new Regex(emailPattern, RegexOptions.IgnoreCase);
        return regex.IsMatch(email);
    }

    private async Task OnCategoryChanged()
    {
        selectedCategory = categories.FirstOrDefault(c => c.Id == model.CategoryId);

        if (selectedCategory != null && selectedCategory.HasManySub) {
            subcategories = await CategoryService.GetSubcategoriesAsync(selectedCategory.Id);
        }

        StateHasChanged();
    }
}
